<!-- OPEN logo -->
<div class="logo">
</div>

<!-- Small cicle -->
<div class="blob-small">
</div>

<!-- Text 1 -->
<div class="we-make-it-super-simple">
</div>

<!-- Dash 1 -->
<div class="rectangle-3">
</div>

<!-- Picture 1 -->
<div class="collect-img-video">
</div>

<!-- Dots 1 -->
<div class="accounting-dots-1">
</div>

<!-- Big cicle -->
<div class="circle">
</div>

<!-- Eligibility calculator -->
<div class="group-6">
</div>

<!-- Dots 2 -->
<div class="accounting-dots-2">
</div>

<!--Login button-->
<button class="login-button">
  <span class="login">Login</span>
</button>

<!--Get started button-->
<button class="get-started-button">
  <span class="get-started">Get Started</span>
</button>

<!--Products navigation Link-->
<div class="nav-link-1">
  Products
</div>

<!--Solutions navigation Link-->
<div class="nav-link-2">
  Soutions
</div>

<!--Pricing navigation Link-->
<div class="nav-link-3">
  Pricing
</div>

<!-- Sine circle -->
<div class="sol-wave-bg">
</div>

<!-- Card 1 -->
<div class="rectangle-copy-23">
</div>
<div class="get-paid">
</div>
<div class="quick-cash">
</div>
<div class="get-terms">
</div>

<!-- Card 2 -->
<div class="rectangle-copy-19">
</div>
<div class="low-interest">
</div>
<div class="low-interest-rate">
</div>
<div class="achieve-your-financial">
</div>

<!-- Card 3 -->
<div class="rectangle-copy-17">
</div>
<div class="secure-payments">
</div>
<div class="zero-paperwork">
</div>
<div class="get-started-instant">
</div>

<!-- Card 4 -->
<div class="rectangle-2">
</div>
<div class="freelancer-feature-icon">
</div>
<div class="ace-your-business">
</div>
<div class="manage-banking">
</div>

<!-- Card 5 -->
<div class="rectangle-copy-25">
</div>
<div class="covid">
</div>
<div class="loans-to-fight-covid">
</div>
<div class="zero-emi-for">
</div>

<!-- Card 6 -->
<div class="boost-your-business">
</div>
<div class="line-3">
</div>
<div class="get-your-hands">
</div>

<!--Get an open account button-->
<button class="get-an-open-account-button">
  <span class="get-an-open-account">Get an Open Account</span>
</button>
